nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
}

img{
    object-fit: cover;
}

.page{
    display: flex;
    justify-content: center;
}

.page.preturi {
    margin-top: 2rem;
    flex-wrap: wrap;
}

.page.preturi .card-calculator{
    justify-content: space-between;
}