.page {
  margin-left: 14vw;
}

@media (max-width: 1500px) {
  .page {
    margin-left: 0px;
  }
}

.page.not-found {
  height: 100vh;
  margin-top: 20%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;

  h3 {
      padding: 0px 2rem;
      font-size: 400;
  }
}

img {
  object-fit: cover;
}