nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
}

.page{
    display: flex;
    justify-content: center;
}

.page.preturi {
    margin-top: 2rem;
    flex-wrap: wrap;
}