@media (max-width: 1600px) {
    .main-nav {
        padding: 1rem 2rem 2rem 2rem;
    }
}

@media(max-width: 1000px) {
    .main-nav {
        justify-content: center;
        flex-direction: column;

        ul {
            margin-top: 4rem;
            font-size: 18px;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width : 998px) {
    body {
        display: flex;
    }
}

@media(max-width: 829px) {
    .navstepts.pagination .prev {
        margin-right: 1rem;
    }

    .step-component {
        width: fit-content;
        margin-bottom: 1rem;
    }

    .price-calculator {
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .cards-container .card {
        margin: 0.5rem 0.5rem;
    }

    .card.seal {
        width: 91%;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
    }

    .card.seal div:first-child {
        align-self: center;
    }
}

@media(max-width:550px) {
    .navstepts.pagination .prev {
        margin-right: 0.6rem;
    }

    .price-calculator {
        margin: 0rem;
        max-width: 100%;
    }

    .navsteps-component-wraper {
        width: 100%;

        .step-component {
            width: 100%;
        }

        .navsteps-wraper {
            width: 100%;
        }
    }
}

@media(max-width:394px) {
    .navstepts.pagination .next {
        text-align: end;
    }
    .number-wraper{
        margin-top: 1rem;
    }
    .page.preturi{
        margin-top: 0rem !important;
    }
}