@media (max-width: 1600px) {
    .main-nav {
        padding: 1rem 2rem 2rem 2rem;
    }
}

@media(max-width: 1000px) {
    .main-nav {
        justify-content: center;
        flex-direction: column;

        ul {
            margin-top: 4rem;
            font-size: 18px;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 600px) {
    .cards-container .card {
        margin: 0.5rem 0.5rem;
    }

    .card.seal{
        width: 91%;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
    }
    .card.seal div:first-child{
        align-self: center;
    }
}

@media (max-width : 998px) {
    body {
        display: flex;
    }
}