@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "PT Serif", serif;
  margin: 0px;
  background-color: #BAC1B6;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #CAAE88;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.language-options {
  position: absolute;
  top: 1rem;
  left: 94%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.language-options img {
  margin-right: 0.3rem;
  width: 15px;
  height: 15px;
}

.header {
  position: relative;
}

.receipt .add-button,
.card .add-button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 18px;
  color: #777771;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  width: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #c6c6bd;
}
.receipt .add-button:hover,
.card .add-button:hover {
  color: #CAAE88;
}

.receipt .add-button {
  width: 100%;
  margin-top: 1rem;
}

.cards-container {
  max-width: 1220px;
  margin: 0 auto;
}

.cards-container.papetarie {
  max-width: 100%;
}

.cards-container .card:nth-child(even) {
  margin-left: 2rem;
}
.cards-container .card:last-child {
  margin-left: 2rem;
}

.cards-container,
.preturi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.cards-container .card,
.preturi .card {
  width: fit-content;
  margin: 2rem 0 2rem 0;
  margin-bottom: 0px;
  padding: 1rem;
  padding-bottom: 0rem;
  background-color: white;
  box-shadow: 0px 4px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  color: #4f4f4f;
  height: fit-content;
  position: relative;
}
.cards-container .card .add-button,
.preturi .card .add-button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 18px;
  color: #777771;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  width: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #c6c6bd;
}
.cards-container .card .add-button:hover,
.preturi .card .add-button:hover {
  color: #CAAE88;
}
.cards-container .card .progress,
.preturi .card .progress {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 45%;
}
.cards-container .card hr,
.preturi .card hr {
  color: #c7c7c7;
}
.cards-container .card-calculator,
.preturi .card-calculator {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}
.cards-container .card-calculator-price,
.preturi .card-calculator-price {
  margin-left: 1rem;
}
.cards-container .card-calculator-price p:nth-child(1),
.preturi .card-calculator-price p:nth-child(1) {
  margin-bottom: 0rem;
  color: #8d8d8d;
  font-size: 14px;
}
.cards-container .card-calculator-price p,
.preturi .card-calculator-price p {
  margin: 0px;
}
.cards-container .card-calculator-quantity,
.preturi .card-calculator-quantity {
  width: 100px;
}
.cards-container .card-info ul,
.preturi .card-info ul {
  display: flex;
  flex-direction: column;
}
.cards-container .card-info ul li p,
.preturi .card-info ul li p {
  margin: 0.5rem;
}
.cards-container .card-info ul li p:nth-child(1),
.cards-container .card-info ul li span,
.preturi .card-info ul li p:nth-child(1),
.preturi .card-info ul li span {
  margin-bottom: 0rem;
  color: #8d8d8d;
  font-size: 14px;
}
.cards-container .card-info ul li p:nth-child(2),
.preturi .card-info ul li p:nth-child(2) {
  margin-top: 0.2rem;
}
.cards-container .card .fa-grip-lines,
.preturi .card .fa-grip-lines {
  cursor: pointer;
  margin-top: 0.5rem;
  color: #B4BBB0;
  margin-top: 0.5rem;
  color: #9DA499;
  margin-left: 0.5rem;
}
.cards-container .card .fa-grip-lines:hover,
.preturi .card .fa-grip-lines:hover {
  color: rgba(157, 164, 153, 0.7450980392);
}
.cards-container .card .colors-container,
.preturi .card .colors-container {
  display: flex;
}
.cards-container .card .colors-container .color,
.preturi .card .colors-container .color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cards-container .card .colors-container .color:hover,
.preturi .card .colors-container .color:hover {
  width: 35px;
  height: 35px;
}

.nav {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  flex-wrap: nowrap;
  align-items: center;
  width: 14vw;
  z-index: 2;
}
.nav .logo {
  cursor: pointer;
}
.nav .circles-container div {
  margin: 10% 0px;
}
.nav .logo {
  width: 170px;
}
.nav .menu-circle {
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  animation: ungrow 1s ease-in;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.nav .menu-circle img {
  width: 100%;
}
.nav .menu-circle .title {
  position: absolute;
  left: -15px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  font-size: 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 60px;
  background-position-y: 28%;
}
.nav .menu-circle:hover {
  box-shadow: 0px 1px 12px 0px rgb(202, 174, 136);
}
.nav .menu-circle:hover .title {
  animation: grow 1s ease-in;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-position-y: 20%;
}

#icon-papetarie {
  background-image: url(../assets/navbar/flower1.jpg);
}

#icon-modele {
  background-image: url(../assets/navbar/flower2.jpg);
}

#icon-meniuri {
  background-image: url(../assets/navbar/a.png);
}

#icon-carti-vizita {
  background-image: url(../assets/navbar/flower4.jpg);
}

@keyframes grow {
  from {
    top: 76%;
  }
  to {
    top: 54%;
  }
}
@keyframes ungrow {
  from {
    top: 54%;
  }
  to {
    top: 76%;
  }
}
@media (max-width: 1500px) {
  .nav {
    display: none;
  }
}
.placeholder {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg.hoizonatal {
  width: 360px;
  height: 360px;
}

.svg.vertical {
  width: 360px;
  height: 550px;
}

.image.vertical {
  height: 760px;
  width: 560px;
}

.image.hoizonatal {
  height: 450px;
  width: 560px;
}

.image.seal,
.image.paper {
  object-fit: cover;
}

.image.seal,
.image.paper,
.image.envelope {
  height: 370px;
}

.image.envelope {
  width: 500px;
}

.svg.seal,
.svg.paper,
.svg.envelope {
  width: 200px;
  height: 200px;
}

.footer-general {
  margin-left: 14vw;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
  background-color: #647058;
}
footer .copyright {
  color: white;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 3%;
}
footer .sections {
  width: 1100px;
  margin: 10% 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
footer .sections .section.produse {
  cursor: default;
}
footer .sections .section.contact {
  cursor: default;
}
footer .sections .section.contact p {
  text-decoration-line: none;
  line-height: normal;
}
footer .sections .section {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: white;
  max-width: 160px;
}
footer .sections .section h3 {
  font-size: 18px;
  font-weight: 400;
}
footer .sections .section strong {
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
  text-decoration-line: none;
}
footer .sections .section ul li {
  font-size: 16px;
  font-weight: 100;
  text-decoration-line: underline;
  line-height: 30.79px;
  list-style: circle;
  cursor: pointer;
}
footer .sections .section p {
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: underline;
  line-height: 27.79px;
}
footer .sections .section p strong,
footer .sections .section p span {
  text-decoration-line: none;
}

@media (max-width: 1500px) {
  footer .sections {
    width: 700px;
  }
  .footer-general {
    margin-left: 0px;
  }
}
@media (max-width: 750px) {
  footer .sections {
    width: 160px;
  }
}
.despre-noi {
  position: relative;
  display: flex;
  justify-content: center;
}
.despre-noi .content {
  z-index: 2;
  border-radius: 10px;
  position: relative;
  width: 650px;
  margin-top: 23rem;
  margin-bottom: 5rem;
  background-color: white;
  box-shadow: 0px 4px 4px 1px rgba(23, 23, 23, 0.13);
}
.despre-noi .background {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-image: url(/assets/about-page/background.jpg);
  background-size: cover;
  filter: blur(2px);
  height: 100%;
}
.despre-noi .us-img {
  border-radius: 100%;
  position: absolute;
  left: 7rem;
  top: -20rem;
  filter: drop-shadow(-1px 2px 4px #BAACA8);
}
.despre-noi .brand-icons:hover {
  color: #BEBEBE !important;
}
.despre-noi .icons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.despre-noi .text {
  padding-top: 10rem;
}
.despre-noi h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 45px;
  margin-bottom: 2rem;
  font-weight: 100;
}
.despre-noi p {
  font-size: 20px;
  margin: 1rem 60px;
}
.despre-noi h1,
.despre-noi p {
  text-align: center;
  color: #777771;
}
.despre-noi p {
  margin-bottom: 3rem;
}
.despre-noi .images-container {
  display: flex;
  margin: 6rem 0rem;
  margin-bottom: 3rem;
}

.page {
  margin-left: 14vw;
}

@media (max-width: 1500px) {
  .page {
    margin-left: 0px;
  }
}
.page.not-found {
  height: 100vh;
  margin-top: 20%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}
.page.not-found h3 {
  padding: 0px 2rem;
  font-size: 400;
}

img {
  object-fit: cover;
}

.home {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.home .box {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
