@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "PT Serif", serif;
  margin: 0px;
  background-color: #647058;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #CAAE88;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.language-options {
  position: absolute;
  top: 1rem;
  left: 94%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.language-options img {
  margin-right: 0.3rem;
  width: 15px;
  height: 15px;
}

.header {
  position: relative;
}

.receipt .add-button,
.card .add-button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 18px;
  color: #777771;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  width: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #c6c6bd;
}
.receipt .add-button:hover,
.card .add-button:hover {
  color: #CAAE88;
}

.receipt .add-button {
  width: 100%;
  margin-top: 1rem;
}

.gallery-counter {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #4D4D4D;
  background: white;
  border-bottom-right-radius: 100%;
  padding: 0.5rem 1.4rem 1.4rem 0.5rem;
}

.card.horizontal,
.card.vertical {
  display: flex;
  width: 800px;
  min-height: 450px;
}
.card.horizontal .card-gallery,
.card.vertical .card-gallery {
  flex: 1 1 0;
  position: relative;
}
.card.horizontal .card-gallery .image,
.card.vertical .card-gallery .image {
  width: 100%;
  height: 100%;
}
.card.horizontal .card-gallery:hover,
.card.vertical .card-gallery:hover {
  opacity: 0.7;
  cursor: zoom-in;
}
.card.horizontal .card-details,
.card.vertical .card-details {
  flex: 1 1 0;
  background-color: white;
  color: #4D4D4D;
}
.card.horizontal .card-details .wraper,
.card.vertical .card-details .wraper {
  padding: 80px 60px;
}
.card.horizontal .card-details h3,
.card.vertical .card-details h3 {
  color: rgb(31, 31, 31);
  font-size: 45px;
  font-weight: 500;
  font-family: "Antic Didone", serif;
  margin: 0px;
}
.card.horizontal .card-details span,
.card.vertical .card-details span {
  color: #696969;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
.card.horizontal .card-details p,
.card.vertical .card-details p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 50px 0px;
}

@media (max-width: 700px) {
  .card.horizontal,
.card.vertical {
    flex-direction: column;
    min-height: auto;
    height: 100%;
    width: 100%;
  }
  .card.horizontal .card-gallery,
.card.vertical .card-gallery {
    overflow: hidden;
  }
  .card.horizontal .card-details .wraper p,
.card.vertical .card-details .wraper p {
    font-size: 14px;
    margin: 30px 0px;
  }
  .card.horizontal .card-details .wraper h3,
.card.vertical .card-details .wraper h3 {
    font-size: 30px;
  }
  .card.horizontal .card-details .wraper span,
.card.vertical .card-details .wraper span {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .nav .logo {
    display: none;
  }
  .nav .menu-circle {
    width: 130px;
    height: 130px;
  }
  .nav .menu-circle .title {
    background-size: 50px;
    background-position-y: 31%;
  }
}
.gallery-counter {
  position: absolute;
  top: 0%;
  left: 0%;
  color: #4D4D4D;
  background: white;
  border-bottom-right-radius: 100%;
  padding: 0.5rem 1.4rem 1.4rem 0.5rem;
}

@media (max-width: 370px) {
  .card.horizontal .card-details .wraper,
.card.vertical .card-details .wraper {
    padding: 2.5rem;
    padding-bottom: 0.5rem;
  }
}
.bars_icon {
  position: absolute;
  top: 2%;
  left: 3%;
  color: rgb(81, 81, 81);
  display: none;
  z-index: 2;
}

.nav {
  background-color: white;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
  flex-wrap: nowrap;
  align-items: center;
  width: 14vw;
  z-index: 2;
}
.nav .cancel_icon {
  display: none;
  color: grey;
  position: absolute;
  top: 2%;
  left: 5%;
}
.nav .logo {
  cursor: pointer;
}
.nav .circles-container div {
  margin: 10% 0px;
}
.nav .logo {
  display: flex;
  width: 170px;
}
.nav .menu-circle {
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  animation: ungrow 1s ease-in;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.nav .menu-circle img {
  width: 100%;
}
.nav .menu-circle .title {
  position: absolute;
  left: -15px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  font-size: 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 60px;
  background-position-y: 28%;
}
.nav .menu-circle:hover {
  box-shadow: 0px 1px 12px 0px rgb(202, 174, 136);
}
.nav .menu-circle:hover .title {
  animation: grow 1s ease-in;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-position-y: 20%;
}

#icon-papetarie {
  background-image: url(/assets/navbar/flower1.jpg);
}

#icon-modele {
  background-image: url(/assets/navbar/flower2.jpg);
}

#icon-meniuri {
  background-image: url(/assets/navbar/a.png);
}

#icon-carti-vizita {
  background-image: url(/assets/navbar/flower4.jpg);
}

@keyframes grow {
  from {
    top: 76%;
  }
  to {
    top: 54%;
  }
}
@keyframes ungrow {
  from {
    top: 54%;
  }
  to {
    top: 76%;
  }
}
@media (max-width: 1300px) {
  .nav {
    width: 100%;
    justify-content: center;
  }
  .nav .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @keyframes grow {
    from {
      top: 30%;
    }
    to {
      top: 30%;
    }
  }
  @keyframes ungrow {
    from {
      top: 30%;
    }
    to {
      top: 30%;
    }
  }
}
@media (max-width: 700px) {
  .nav .logo {
    width: 100px;
  }
  .nav .menu-circle {
    width: 130px;
    height: 130px;
  }
  .nav .menu-circle .title {
    background-size: 50px;
    background-position-y: 31%;
  }
}
@media (max-width: 700px) {
  .nav .logo {
    width: 100px;
  }
  .nav .menu-circle {
    width: 130px;
    height: 130px;
  }
  .nav .menu-circle .title {
    background-size: 50px;
    background-position-y: 31%;
  }
}
@media (max-width: 340px) {
  .nav .menu-circle {
    width: 110px;
    height: 110px;
  }
}
.placeholder {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-general {
  margin-left: 14vw;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
  background-color: #647058;
}
footer .copyright {
  color: white;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 3%;
}
footer .sections {
  width: 1100px;
  margin: 10% 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
footer .sections .section.produse {
  cursor: default;
}
footer .sections .section.contact {
  cursor: default;
}
footer .sections .section.contact p {
  text-decoration-line: none;
  line-height: normal;
}
footer .sections .section {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: white;
  max-width: 150px;
}
footer .sections .section h3 {
  font-size: 18px;
  font-weight: 400;
}
footer .sections .section strong {
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  text-decoration-line: none;
}
footer .sections .section ul li {
  font-size: 14px;
  font-weight: 100;
  text-decoration-line: underline;
  line-height: 30.79px;
  list-style: circle;
  cursor: pointer;
}
footer .sections .section p {
  font-size: 14px;
  font-weight: 300;
  text-decoration-line: underline;
  line-height: 27.79px;
}
footer .sections .section p strong,
footer .sections .section p span {
  text-decoration-line: none;
}

@media (max-width: 1500px) {
  footer .sections {
    width: 700px;
  }
  .footer-general {
    margin-left: 0px;
  }
}
@media (max-width: 750px) {
  footer .sections {
    margin: 5% 0px;
    max-width: 320px;
  }
  footer .sections .section h3 {
    font-size: 16px;
  }
  footer .sections .section p {
    font-size: 12px;
  }
  footer .sections .section p strong {
    font-size: 12px;
  }
}
.color-box-container {
  display: flex;
}

.page.scroll-snap-page.sigilii .box {
  justify-content: flex-end;
}

.seals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: white;
  padding: 0px 60px;
  grid-row-gap: 80px;
  min-width: 500px;
}
.seals-container p {
  margin: 0;
  max-width: 500px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.seals-container small {
  color: rgb(97, 97, 97);
  font-family: "Open Sans", sans-serif;
}
.seals-container span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.seals-container .wraper {
  width: 100%;
}
.seals-container .wraper .description {
  margin-bottom: 20px;
}
.seals-container .color-box-container {
  display: flex;
  grid-column-gap: 2rem;
  margin-top: 20px;
  margin-bottom: 30px;
}
.seals-container .color-box-container .color-box {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.seals-container .seals-box {
  display: flex;
  margin-bottom: 30px;
  grid-column-gap: 20px;
  margin-top: 20px;
  max-width: 750px;
  flex-wrap: wrap;
  grid-row-gap: 15px;
}
.seals-container .selected-seal {
  margin-top: 30px;
  width: 250px;
}
.seals-container .image.thumbnail-seal {
  width: 100px;
  object-fit: contain;
  cursor: pointer;
}

@media (max-width: 700px) {
  .page.scroll-snap-page.sigilii .color-box-container,
.page.scroll-snap-page.sigilii .seals-box {
    grid-column-gap: 10px;
  }
  .page.scroll-snap-page.sigilii .color-box-container .color-box {
    width: 60px;
    height: 60px;
  }
  .page.scroll-snap-page.sigilii .seals-container {
    padding: 0px 20px;
    grid-row-gap: 25px;
    width: 100%;
    min-width: auto;
  }
  .page.scroll-snap-page.sigilii .seals-container .image.selected-seal {
    width: 150px;
  }
  .page.scroll-snap-page.sigilii .seals-container .image.thumbnail-seal {
    width: 60px;
  }
}
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(28, 28, 28, 0.925);
  z-index: 3;
}
.modal .cancel {
  color: white;
  position: absolute;
  right: 4%;
  top: 4%;
  z-index: 1;
  cursor: pointer;
}
.modal .cancel:hover {
  opacity: 0.7;
}

.gallery {
  position: relative;
}

/* Modal Content (image) */
.modal-content {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal-content .arrow-left {
  margin-right: 2rem;
}
.modal-content .arrow-right {
  margin-left: 2rem;
}

@media (max-width: 700px) {
  .modal .arrow-left {
    left: 0;
    z-index: 1;
    padding-right: 0px;
    position: absolute;
  }
  .modal .arrow-right {
    right: 0;
    padding-left: 0px;
    position: absolute;
  }
  .modal img {
    object-fit: contain;
    width: 100%;
  }
}
.scroll-snap-page.papetarie .options-wraper {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}
.scroll-snap-page.papetarie .option {
  width: 350px;
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.scroll-snap-page.papetarie .option p {
  font-family: "Antic Didone", serif;
  font-size: 35px;
}

.hover-img:hover {
  opacity: 0.5;
}

.scroll-snap-page {
  margin-left: 14vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.scroll-snap-page .box {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  height: 100vh;
}
.scroll-snap-page .box .text.center {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scroll-snap-page .box .text.center h1 {
  margin-bottom: 2rem;
}
.scroll-snap-page .box .text.center p {
  max-width: 500px;
}
.scroll-snap-page .box .text {
  color: white;
  max-width: 400px;
  cursor: default;
}
.scroll-snap-page .box .text h1 {
  font-family: "Antic Didone", serif;
  font-weight: 100;
  font-size: 45px;
  margin-bottom: 3px;
}
.scroll-snap-page .box .text p {
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.scroll-snap-page .box .text i {
  cursor: pointer;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.scroll-snap-page .box .text i:hover {
  opacity: 0.8;
}
.scroll-snap-page .box img {
  max-height: 700px;
  object-fit: cover;
}
.scroll-snap-page .box.left {
  justify-content: flex-end;
}
.scroll-snap-page .box.left img {
  margin-top: 0px;
  height: 100%;
  max-height: 100%;
}

.box.col {
  flex-direction: column;
}

.page.not-found {
  height: 100vh;
  margin-top: 20%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}
.page.not-found h3 {
  padding: 0px 2rem;
  font-size: 400;
}

@media (max-width: 700px) {
  .scroll-snap-page.papetarie .options-wraper {
    justify-content: center;
    max-width: 750px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .scroll-snap-page.papetarie .options-wraper .option {
    width: 150px;
    height: 150px;
  }
  .scroll-snap-page.papetarie .options-wraper p {
    font-size: 20px;
  }
  .scroll-snap-page.home .box.left img {
    display: none;
  }
  .scroll-snap-page.home .box {
    padding: 1rem;
  }
  .scroll-snap-page.home .box img {
    max-width: 100%;
  }
}
@media (max-width: 1500px) {
  .scroll-snap-page {
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
