@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "PT Serif", serif;
  margin: 0px;
  background-color: #BAC1B6;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #CAAE88;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.receipt .add-button,
.card .add-button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 18px;
  color: #777771;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  width: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #c6c6bd;
}
.receipt .add-button:hover,
.card .add-button:hover {
  color: #CAAE88;
}

.receipt .add-button {
  width: 100%;
  margin-top: 1rem;
}

.cards-container,
.preturi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.cards-container .card,
.preturi .card {
  width: fit-content;
  margin: 2rem;
  margin-bottom: 0px;
  padding: 1rem;
  padding-bottom: 0.5rem;
  background-color: white;
  box-shadow: 0px 4px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  color: #4f4f4f;
  height: fit-content;
  position: relative;
}
.cards-container .card .add-button,
.preturi .card .add-button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 18px;
  color: #777771;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgba(23, 23, 23, 0.13);
  border-radius: 10px;
  width: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #c6c6bd;
}
.cards-container .card .add-button:hover,
.preturi .card .add-button:hover {
  color: #CAAE88;
}
.cards-container .card .progress,
.preturi .card .progress {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 45%;
}
.cards-container .card hr,
.preturi .card hr {
  color: #c7c7c7;
}
.cards-container .card-calculator,
.preturi .card-calculator {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}
.cards-container .card-calculator-price,
.preturi .card-calculator-price {
  margin-left: 1rem;
}
.cards-container .card-calculator-price p:nth-child(1),
.preturi .card-calculator-price p:nth-child(1) {
  margin-bottom: 0rem;
  color: #8d8d8d;
  font-size: 14px;
}
.cards-container .card-calculator-price p,
.preturi .card-calculator-price p {
  margin: 0px;
}
.cards-container .card-calculator-quantity,
.preturi .card-calculator-quantity {
  width: 100px;
}
.cards-container .card-info ul,
.preturi .card-info ul {
  display: flex;
  flex-direction: column;
}
.cards-container .card-info ul li p,
.preturi .card-info ul li p {
  margin: 0.5rem;
}
.cards-container .card-info ul li p:nth-child(1),
.cards-container .card-info ul li span,
.preturi .card-info ul li p:nth-child(1),
.preturi .card-info ul li span {
  margin-bottom: 0rem;
  color: #8d8d8d;
  font-size: 14px;
}
.cards-container .card-info ul li p:nth-child(2),
.preturi .card-info ul li p:nth-child(2) {
  margin-top: 0.2rem;
}
.cards-container .card .fa-grip-lines,
.preturi .card .fa-grip-lines {
  cursor: pointer;
  margin-top: 0.5rem;
  color: #B4BBB0;
  margin-top: 0.5rem;
  color: #9DA499;
  margin-left: 0.5rem;
}
.cards-container .card .fa-grip-lines:hover,
.preturi .card .fa-grip-lines:hover {
  color: #9da499be;
}
.cards-container .card .colors-container,
.preturi .card .colors-container {
  display: flex;
}
.cards-container .card .colors-container .color,
.preturi .card .colors-container .color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cards-container .card .colors-container .color:hover,
.preturi .card .colors-container .color:hover {
  width: 35px;
  height: 35px;
}

.page.home {
  flex-direction: column;
  align-items: center;
}

.slogan-container {
  align-items: flex-end;
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slogan {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
  margin-left: 4rem;
}
.slogan i {
  font-size: 40px;
  color: #777771;
}
.slogan h1 {
  font-size: 50px;
  color: #777771;
  margin-top: 0px;
}
.slogan a {
  padding: 2rem 4rem;
  font-size: 30px;
  color: #777771;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: fit-content;
}
.slogan a:hover {
  color: #CAAE88;
}

.card-envelope-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}

.card-seal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem 0.5rem;
}

.card.model ul li p {
  max-width: 30rem;
}
.card.model .header p {
  color: #8d8d8d;
  font-size: 16px;
  margin-bottom: 0;
}
.card.model .header i {
  text-transform: capitalize;
  color: #8d8d8d;
  font-size: 20px;
}
.card.model .wraper {
  padding: 0rem 0.8rem;
}
.card.model .arrow {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: #c9cec691;
  border-radius: 100%;
  padding: 0.6rem 1rem;
  top: 45%;
}
.card.model .arrow:hover {
  color: white;
  background-color: #ffffff5e;
}
.card.model .arrow.R {
  left: 88%;
}
.card.model .arrow.L {
  left: 2%;
}

.card.paper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.card.paper .card-paper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card.paper .model-container {
  margin: 1rem 0rem 0.5rem 0rem;
}
.card.paper .card-info .gramaje-container {
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}
.card.paper .card-info .gramaje-container i {
  font-style: normal;
  margin: 0.2rem 0rem 0.2rem 0rem;
}
.card.paper .card-info .gramaje-container i:hover,
.card.paper .card-info .gramaje-container .active {
  color: #CAAE88;
}

.card.addons {
  width: 500px;
}
.card.addons .img-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card.addons .img-wraper div:nth-child(1) {
  height: fit-content;
}
.card.addons .img-wraper .select-wraper {
  margin-top: 1.3rem;
}
.card.addons .addons-wraper {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0rem;
}

.order-steps-cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.order-step-card {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.order-step-card .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #80827A;
  padding: 3rem 2rem;
  border-radius: 10px;
  z-index: 1;
}
.order-step-card .header h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 0px;
}
.order-step-card .text-container {
  height: 100%;
  background-color: white;
  min-height: 200px;
  margin-top: -2rem;
  z-index: 0;
  padding: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.order-step-card .text-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.73);
}
.order-step-card .text-container a {
  color: #CAAE88;
}
.order-step-card .text-container a:hover {
  text-decoration: underline;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem 2rem 6rem;
  align-items: center;
}
.main-nav .fa-bars {
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: #9DA499;
  display: none;
}
.main-nav ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}
.main-nav .logo {
  width: 270px;
  cursor: pointer;
}

.sec-nav {
  padding: 1rem 0rem 4rem;
}
.sec-nav .menu-circle {
  cursor: pointer;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  animation: ungrow 1s ease-in;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.sec-nav .menu-circle img {
  width: 100%;
}
.sec-nav .menu-circle .title {
  position: absolute;
  left: -15px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  font-size: 18px;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 60px;
  background-position-y: 26%;
}
.sec-nav .menu-circle:hover {
  box-shadow: 0px 1px 12px 0px #caae88;
}
.sec-nav .menu-circle:hover .title {
  animation: grow 1s ease-in;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#icon-papetarie {
  background-image: url(../assets/navbar/flower1.jpg);
}

#icon-modele {
  background-image: url(../assets/navbar/flower2.jpg);
}

#icon-meniuri {
  background-image: url(../assets/navbar/flower3.jpg);
}

#icon-carti-vizita {
  background-image: url(../assets/navbar/flower4.jpg);
}

@keyframes grow {
  from {
    top: 76%;
  }
  to {
    top: 54%;
  }
}
@keyframes ungrow {
  from {
    top: 54%;
  }
  to {
    top: 76%;
  }
}
.price-calculator {
  min-width: 350px;
  max-width: 300px;
  height: fit-content;
  background-color: white;
  margin: 0rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 1px rgba(23, 23, 23, 0.13);
}
.price-calculator h4 {
  font-weight: 100;
  font-size: 20px;
}
.price-calculator .receipt .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-calculator .receipt .prices-info {
  background-color: #9DA499;
  padding: 1.5rem;
  border-radius: 10px 10px 0px 0px;
}
.price-calculator .receipt .prices-info p {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.53);
}
.price-calculator .receipt-content {
  padding: 0rem 1rem 1rem;
}
.price-calculator .receipt-content h3 {
  color: #70746e;
}
.price-calculator .receipt-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.price-calculator .receipt-item span {
  max-width: 220px;
}
.price-calculator .receipt-item .remove {
  cursor: pointer;
  color: #9da499;
}
.price-calculator .receipt-item .remove:hover {
  color: #c73737;
}
.price-calculator .receipt-price {
  border-left-style: solid;
  border-left-width: thin;
  padding-left: 0.5rem;
  margin-left: 0.3rem;
}

.navsteps.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.number-wraper {
  width: fit-content;
  cursor: pointer;
  padding: 1.7rem 0.6rem;
  background-color: white;
  border-radius: 100%;
  background-color: #CAAE88;
}
.number-wraper .number {
  padding: 1rem 1.7rem;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  font-size: 2rem;
}
.number-wraper .number.selected {
  background-color: #CAAE88;
  color: white;
  cursor: default;
}
.number-wraper .number.normal {
  background-color: white;
  color: #CAAE88;
}
.number-wraper .number.normal:hover {
  background-color: #CAAE88;
  color: white;
}

.navsteps.pagination {
  display: flex;
  justify-content: space-between;
}
.navsteps.pagination .pagination-button {
  padding: 1rem;
  color: #000000ab;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px rgba(23, 23, 23, 0.13);
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.navsteps.pagination .next span {
  margin: 0rem 1rem;
}
.navsteps.pagination .next:hover,
.navsteps.pagination .prev:hover {
  color: #CAAE88;
}
.navsteps.pagination .prev {
  margin-right: 3rem;
}
.navsteps.pagination .prev span {
  margin: 0rem 1rem;
}

.navsteps-component-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navsteps-component-wraper .navsteps-wraper {
  width: 100%;
}

.preturi .card {
  margin: 0rem;
}

@media (max-width: 1600px) {
  .main-nav {
    padding: 1rem 2rem 2rem 2rem;
  }
}
@media (max-width: 1000px) {
  .main-nav {
    justify-content: center;
    flex-direction: column;
  }
  .main-nav ul {
    margin-top: 4rem;
    font-size: 18px;
    margin-bottom: 2rem;
  }

  .price-calculator {
    margin-top: 2rem;
  }

  .slogan {
    margin-left: 1rem;
  }
  .slogan h1 {
    font-size: 35px;
  }
  .slogan a {
    font-size: 25px;
  }
}
@media (max-width: 998px) {
  body {
    display: flex;
  }
}
@media (max-width: 805px) {
  .slogan {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 829px) {
  .navstepts.pagination .prev {
    margin-right: 1rem;
  }

  .step-component {
    width: fit-content;
    margin-bottom: 1rem;
  }

  .price-calculator {
    margin-bottom: 1rem;
  }
}
@media (max-width: 600px) {
  .cards-container .card {
    margin: 0.5rem 0.5rem;
  }

  .main-nav .list {
    display: none;
  }
  .main-nav .fa-bars {
    display: flex;
  }

  .card.paper {
    width: 94%;
  }
  .card.paper .img-container:nth-child(1) {
    width: fit-content;
    align-self: center;
  }

  .card.seal {
    width: 94%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }

  .card.seal div:first-child {
    align-self: center;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .main-nav ul a {
    margin-top: 1rem;
  }
}
@media (max-width: 550px) {
  .navstepts.pagination .prev {
    margin-right: 0.6rem;
  }

  .card.model .arrow.R {
    left: 85%;
  }

  .price-calculator {
    margin: 0rem;
    max-width: 100%;
  }

  .navsteps-component-wraper {
    width: 100%;
  }
  .navsteps-component-wraper .step-component {
    width: 100%;
  }
  .navsteps-component-wraper .navsteps-wraper {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .card.model .arrow.R {
    left: 82%;
  }
}
@media (max-width: 394px) {
  .navstepts.pagination .next {
    text-align: end;
  }

  .number-wraper {
    margin-top: 1rem;
  }

  .page.preturi {
    margin-top: 0rem !important;
  }
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
}

.page {
  display: flex;
  justify-content: center;
}

.page.preturi {
  margin-top: 2rem;
  flex-wrap: wrap;
}

.page.preturi .card-calculator {
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
