body {
    font-family: 'PT Serif', serif;
    margin: 0px;
    background-color: $green;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: $gold;
}

ul{
    list-style: none;
}
