.card.addons {
    width: 500px;

    .img-wraper {
        div:nth-child(1) {
            height: fit-content;
        }

        .select-wraper{
            margin-top: 1.3rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addons-wraper {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0rem;

    }
}