.cards-container,
.preturi  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .card {
        width: fit-content;
        margin: 2rem;
        margin-bottom: 0px;
        padding: 1rem;
        padding-bottom: 0.5rem;
        background-color: white;
        box-shadow: 0px 4px 4px 1px rgb(23 23 23 / 13%);
        border-radius: 10px;
        color: #4f4f4f;
        height: fit-content;
        
        position: relative;
        .progress {
            position: absolute;
            z-index: 1;
            top: 40%;
            left: 45%;
        }

        hr{
            color: #c7c7c7;
        }

        &-calculator {
            display: flex;
            align-items: center;
            padding: 1rem 0rem;

            &-price {
                margin-left: 1rem;

                p:nth-child(1) {
                    margin-bottom: 0rem;
                    color: #8d8d8d;                    
                    font-size: 14px;
                }

                p {
                    margin: 0px;
                }
            }

            &-quantity {
                width: 100px;
            }
        }

        &-info ul {
            display: flex;
            flex-direction: column;

            li {
                p{
                    margin: 0.5rem;
                }
                p:nth-child(1), span {
                    margin-bottom: 0rem;
                    color: #8d8d8d;                    
                    font-size: 14px;
                }
                p:nth-child(2) {
                    margin-top: 0.2rem;
                }
            }

           
        }

        .fa-grip-lines {
            cursor: pointer;
            margin-top: 0.5rem;
            color: $green;
            font-size: 1.8rem;
            margin-top: 0.5rem;
            color: $darkGreen;
            margin-left: 0.5rem;
        }

        .colors-container {
            display: flex;
    
            .color {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin-left: 0.3rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }
            .color:hover{
                width: 35px;
                height: 35px;
            }
    
        }

    }
}