/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  //background-color: rgb(0, 0, 0); /* Fallback color */
  //background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  background: rgba(28, 28, 28, 0.925);
  z-index: 3;

  .cancel {
    color: white;
    position: absolute;
    right: 4%;
    top: 4%;
    z-index: 1;
    cursor: pointer;
  }
  .cancel:hover {
    opacity: 0.7;
  }
}

.gallery {
  position: relative;
}

/* Modal Content (image) */
.modal-content {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;

  .arrow-left {
    margin-right: 2rem;
  }

  .arrow-right {
    margin-left: 2rem;
  }
}

@media (max-width: 700px) {
  .modal {
    .arrow-left {
      left: 0;
      z-index: 1;
      padding-right: 0px;
      position: absolute;
    }
  
    .arrow-right {
      right: 0;
      padding-left: 0px;
      position: absolute;
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}
