.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem 2rem 6rem;
    align-items: center;

    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        width: 250px;
        justify-content: space-evenly;
    }

    .logo {
        width: 270px;
    }
}