.navsteps.numbers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.number-wraper{
    width: fit-content;
    cursor: pointer;
    padding: 1.7rem 0.6rem;
    //margin-top: 1rem;
    background-color: white;
    border-radius: 100%;
    background-color: $gold;

    .number {
        padding: 1rem 1.7rem;
        border-radius: 100%;
        border-style: solid;
        border-color: white;
        font-size: 2rem;
    }

    .number.selected {
        background-color: $gold;
        color: white;
        cursor: default;
    }

    .number.normal {
        background-color: white;
        color: $gold;
    }

    .number.normal:hover {
        background-color: $gold;
        color: white;
    }
}

.navsteps.pagination {
    display: flex;
    justify-content: space-between;

    .pagination-button {
        padding: 1rem;
        color: $fontblack;
        cursor: pointer;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 1px 4px 1px rgb(23 23 23 / 13%);
        margin: 1rem 0rem;
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .next {
        span {
            margin: 0rem 1rem;
        }

        .fa-angle-right {
            font-size: 1.5em;
        }
    }

    .next:hover,
    .prev:hover {
        color: $gold;
    }

    .prev {
        margin-right: 3rem;

        span {
            margin: 0rem 1rem;
        }

        .fa-angle-left {
            font-size: 1.5em;
        }
    }

}

.navsteps-component-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navsteps-wraper {
        width: 100%;
    }
}

.preturi .card {
    margin: 0rem;
}