.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem 2rem 6rem;
    align-items: center;
    position: relative;

    .fa-bars {
        position: absolute;
        left: 2rem;
        top: 2rem;
        color: #9DA499;
        display: none;
    }

    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        width: 400px;
        justify-content: space-evenly;
    }

    .logo {
        width: 270px;
        cursor: pointer;
    }
}