.card.paper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    .card-paper-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .model-container {
        margin: 1rem 0rem 0.5rem 0rem;
    }
    .card-info{
        .gramaje-container {
            cursor: pointer;
            margin-left: 0.5rem;
            display: flex;
            flex-direction: column;
            i{
                font-style: normal;
                margin: 0.2rem 0rem 0.2rem 0rem;
            }
            i:hover {
                color: $gold;
            }
        }
    }
}