.price-calculator {
    min-width: 350px;
    max-width: 300px;
    height: fit-content;
    background-color: white;
    margin: 0rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 1px rgb(23 23 23 / 13%);

    h4 {
        font-weight: 100;
        font-size: 20px;
    }

    .receipt {
        .prices-info {
            background-color: #9DA499;
            padding: 1.5rem;
            border-radius: 10px 10px 0px 0px;

            p {
                margin: 0px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                text-align: center;
                color: rgba(0, 0, 0, 0.53);
            }
        }

        &-content {
            padding: 0rem 1rem 1rem;

            h3{
                color: #70746e;
            }
        }

        &-item {
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            span{
                max-width: 220px;
            }
            .remove{
                cursor:pointer;
                color: #9da499;
            }
            .remove:hover{
                color: rgb(199, 55, 55);
            }
        }

        &-price {
            border-left-style: solid;
            border-left-width: thin;
            padding-left: 0.5rem;
            margin-left: 0.3rem;
        }
    }

}