.page.home {
    flex-direction: column;
    align-items: center;
}


.slogan-container{
    align-items: flex-end;
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slogan {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
    margin-left: 4rem;
    i {
        font-size: 40px;
        color: #777771;
    }

    h1 {
        font-size: 50px;
        color: #777771;
        margin-top: 0px;
    }
    a{
        padding: 2rem 4rem;
        font-size: 30px;
        color: #777771;
        background-color: white;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
        width: fit-content;
    }

    a:hover{
        color: $gold;
    }
}